body{
    background-color:rgb(11, 111, 124);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

header{
    background:linear-gradient(to right, rgb(206, 255, 214),red,rgb(18, 127, 43),rgb(40, 18, 161));
    color: black;
    padding: 10px;
    font-size: 16pt;   
} 

header:hover{
    font-size: 6pt;
    color: rgb(2, 94, 3);
}

header:active{
    font-size: 6pt;
    color: rgb(43, 0, 255);
}

main {
    margin: 10px 20px;
}

footer{
    background:linear-gradient(to left, rgb(206, 255, 214),red,rgb(18, 127, 43),rgb(40, 18, 161));
    color: black;
    padding: 10px;
    font-size: 12pt;
    text-align: right;
} 

footer:hover{
    font-size: 25pt;
    color: rgb(177, 0, 3);
}

footer:active{
    font-size: 6pt;
    color: rgb(255, 0, 187);
}

a {
    text-decoration: none;
    color: black;
    transition: 600ms 2s;
    text-shadow: 0px 0px 10px red;
}

a:visited {
    color: rgb(255, 60, 184);
    background-color: rgb(26, 240, 255);
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color:rgb(255, 0, 179);
    font-weight: bold;
    transition: 600ms 0.1s;
}
a:active {
    color: rgb(255, 60, 184);
    background-color: yellow;
}
